@{
    ViewBag.Title = "Registered";
}

<h2>Registered</h2>
<h3>Thanks you for joining Vifuture. A confirm email will be send to @ViewBag.UserName shortly. 
    You can log into Vifuture after you confirm you email.</h3>
