<div class="col-md-6">
    <div class="jumbotron">
      <h1>Hello, Student!</h1>
      <p>This is application is meant to get the right class for you. Pay us and you will get your class! dumbass! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Apply</a></p>
    </div></div>
<div class="col-md-6" style="font-size: 17px;line-height: 17px;">
    <div style="height: auto;">Please contact us if you have any kind of questions.</div><br/>
    
    <div class="list-group">
        <div  class="list-group-item">
            <h4 class="list-group-item-heading">Sales</h4>
            <p class="list-group-item-text"><span class="glyphicon glyphicon-phone"></span> 814-753-9999 </p>
        </div>
        <div  class="list-group-item">
            <h4 class="list-group-item-heading">Sales</h4>
            <p class="list-group-item-text"><span class="glyphicon glyphicon-phone"></span> 814-753-9999 </p>
        </div>
        <div  class="list-group-item">
            <h4 class="list-group-item-heading">Sales</h4>
            <p class="list-group-item-text"><span class="glyphicon glyphicon-envelope"></span> Technical : xxxsimonxxx@vip.qq.com </p>
        </div>
        <div  class="list-group-item">
            <h4 class="list-group-item-heading">Sales</h4>
            <p class="list-group-item-text"><span class="glyphicon glyphicon-envelope"></span> Technical : xxxsimonxxx@vip.qq.com </p>
        </div>
        <div  class="list-group-item">
            <h4 class="list-group-item-heading">Sales</h4>
            <p class="list-group-item-text"><span class="glyphicon glyphicon-envelope"></span> Technical : xxxsimonxxx@vip.qq.com </p>
        </div>
    </div>
</div>



