<div class="col-md-6 col-sm-12 col-xs-12">
    <img class="img-responsive" src="/Images/ProfilePic/10403482_701593889901774_5915822839683500703_n.jpg" />
</div>
<div class="col-md-6">
    <ol class="round">
        <li class="one">
            <h4>About Me</h4>
            I am a junioir software developer. faciante 
        
        
        
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
            <hr />
        </li>

        <li class="two">
            <h4>About This Site</h4>
            After facinated by AngularJS, I merged it into this MVC project.
                            Frontend:
                <br />
            AngularJS JQuery Boostrap 
                <br />
            Backend:
                <br />
            this website used Model–view–controller (MVC) is a software architectural pattern. , ASP.NET, C#, Razer
            <hr />
        </li>

        <li class="three">
            <h4>About My Dreams</h4>
            I have a dream.  
            And I believe that the example I am joining in the future is looking for someone special.
            Special enough that he is not only talented, hard-working and ..... but also optimistic humorous and fun to work with. 
        </li>
        <hr />
    </ol>
</div>



